<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/faq.css">
    <title>Perguntas Frequentes</title> 
  </head>
  <body>
    <header th:replace="~{/fragments/header.html :: header}"></header>
    <main class="container">
      <div class="text-center">
        <h1>Perguntas Frequentes</h1>
      </div>
      <details >
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
      <details>
        <summary class="bg-unp-red-1" role="button">Pergunta</summary>
        <p>Resposta</p>
      </details>
    </main>
    <footer th:replace="~{/fragments/footer.html :: footer}"></footer>
  </body>
</html>