main {
  max-width: calc(min(1000px, 80%));
  text-align: center;
  min-height: 800px;
}

label {
  text-align: left;
  font-size: 1.2rem;
}

button {
  display:inline-block;
  width: fit-content;
  font-size: 1.5rem;
}

#delete-account {
  color: crimson;
  border-color: crimson;
}

#message {
  display: block;
  color: crimson;
  text-align:left;
  font-size:1.2rem;
}