<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/polos.css">
    <title>Polos</title>
  </head>
  <body>
    <header th:replace="~{/fragments/header.html :: header}"></header>
    <main class="container">
      <div class="text-center">
        <h1>Polos</h1>
      </div>
      <!-- Search -->
      <input type="search" id="search" name="search" placeholder="Search">
      <div id="units">
        <div th:each="unit : ${units}" div class="container bg-unp-red-1 unit">
          <h2 class="bg-unp-red-1">[[${unit.name}]]</h2>
          <div>Endereço: [[${unit.address.address} ?: Indisponível]]</div>
          <div>Telefone: [[${unit.phone} ?: ${defaults.phone}]]</div>
        </div>
      </div>
    </main>
    <footer th:replace="~{/fragments/footer.html :: footer}"></footer>
  </body>
</html>