<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/cursos.css">
    <title>Cursos</title>  
  </head>
  <body>
    <header th:replace="~{/fragments/header.html :: header}"></header>
    <main class="container">
      <div>
        <h1>Cursos</h1>
      </div>
      <!-- Search -->
      <input type="search" id="search" name="search" placeholder="Search">
      <div class="control">
        <a class="unp-link-light" th:href="'/cursos/' + (${page} - 1)" th:if="${page} &gt; 1">&lt;</a>
        <h3 style="display:inline">Página: [[${page}]]</h3>
        <a class="unp-link-light" th:href="'/cursos/' + (${page} + 1)" th:if="${page} &lt; ${pageCnt}">&gt;</a>
      </div>
      <div id="courses">
        <div th:each="course : ${courses}" class="container bg-unp-red-1 course">
          <h2 class="bg-unp-red-1">[[${course.name}]]</h2>
          <div>Modalidade: [[${course.style} ?: Indisponível]]</div>
          <div>Grau: [[${course.degree} ?: Indisponível]]</div>
          <div>Tipo: [[${course.qualification} ?: Indisponível]]</div>
          <div>Carga Horária: [[${course.hours} ?: Indisponível]]</div>
          <div th:text="${course.durationMonths} ? 'Duração: ' + ${course.durationMonths} + ' meses' : 'Duração: Indisponível'">Duração</div>
          <br>
          <a th:href="${course.url}" class="unp-link-light active">Link</a>
        </div>
      </div>
      <div class="control">
        <a class="unp-link-light" th:href="'/cursos/' + (${page} - 1)" th:if="${page} &gt; 1">&lt;</a>
        <h3 style="display:inline">Página: [[${page}]]</h3>
        <a class="unp-link-light" th:href="'/cursos/' + (${page} + 1)" th:if="${page} &lt; ${pageCnt}">&gt;</a>
      </div>
    </main>
    <footer th:replace="~{/fragments/footer.html :: footer}"></footer>
  </body>
</html>