<!DOCTYPE html>
<html data-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/conta-alterar.css">
	<title>Apagar Conta</title>
</head>
<body>
<header th:replace="~{/fragments/header.html :: header}"></header>
<main>
	<h1>Apagar Conta</h1>
	<form action="/conta/apagar" method="POST">
		<label for="password">Confirme a sua senha:</label>
		<input type="password" name="password" id="password" required>
		<br>
		<span id="message" th:text="${message}"></span>
		<br>
		<button class="outline" id="delete-account" type="submit">Apagar conta</button>
	</form>
</main>
<footer th:replace="~{/fragments/footer.html :: footer}"></footer>
</body>
</html>